@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 align-content-center">
            <LoginButton />
        </div>

        <article class="content p-4">
            @Body
        </article>
    </main>
</div>