<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-danger fw-bold fs-3 text-center align-items-center" href="/">RedditLite</a>
        <button title="Navigation menu" class="navbar-toggler hamburger" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger fw-bold" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
 <AuthorizeView>
             <div class="nav-item px-3">
                 <NavLink class="nav-link text-danger fw-bold" href="/CreatePost">
                     <span class="oi oi-plus" aria-hidden="true"></span> Create Post
                 </NavLink>
             </div>
 </AuthorizeView>       

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}